# Created by .ignore support plugin (hsz.mobi)
/SocialMediaScanner/settings.py
.idea/workspace.xml
*.pyc
.idea
.idea/workspace.xmlgit
/core/amazon_scraper.py
/core/static/node_modules/
/core/static/build/
npm-debug.logg
db.sqlite3
core/migrations/
