<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/result/" method="post">
        <input id="keyword" type="text" name="keyword"> <br/>
        <input type="checkbox" name="vehicle" value="Facebook"> Facebook<br>
        <input type="checkbox" name="vehicle" value="Twitter" checked="checked"> Twitter<br>
        <input type="checkbox" name="vehicle" value="CityGrid" checked="checked"> CityGrid <br/>
        <input type="submit" value="OK">
    </form>
</body>
</html>