<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <img src="{{ STATIC_URL }}img/logo_white.png" class="logo_front1">
                        <h3>A Useful Social Media Scanner Tool</h3>
                        <hr class="intro-divider">           

                        <ul class="list-inline icons">
                            <li>
                                <span class="fa-stack fa-4x">
                                     <i class="fa fa-search fa-fw fa-inverse"></i>
                                </span>
                            </li>
                            <li>
                                <span class="fa-stack fa-4x">
                                   <i class="fa fa-line-chart fa-fw fa-inverse"></i>
                                </span>>
                            </li>
                            <li>
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-desktop fa-fw fa-inverse"></i>
                                </span>>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Search Function</h2>
                    <p class="lead">Our product has search function which allows users to search by keywords through different social media website.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ STATIC_URL }}img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Analyze Function</h2>
                    <p class="lead">This function is coming soon! Our product provide users with analytical function. Users can obtain information about the reviews activity in a specific time range through graphs in our app.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{{ STATIC_URL }}img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Management Function</h2>
                    <p class="lead">This function is coming soon! Users can use the our product to manage their social media account in our product. They can add their social media account to our product and they can review, reply and post comments.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ STATIC_URL }}img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

