<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logoonly.png" type="image/vnd.microsoft.icon"/>
    <title>Baobab Version 1</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="{{ STATIC_URL }}node_modules/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.noty.packaged.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation" style="height: 80px">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle <nav></nav>igation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{{ STATIC_URL }}img/logo.png" class="logo_front img-responsive">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    </div>
    <!-- /.container -->
</nav>
{% block content %}{% endblock %}
</body>
</html>