{% extends "navbase.html" %}
{% block content %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#Settings">Account Settings</a></li>
        <li><a data-toggle="tab" href="#Preferences">Preferences</a></li>
    </ul>
    <div class="tab-content">
        <div id="Settings" class="tab-pane fade in active">
            <h3>Edit Your Account Settings</h3>

            <form method="POST" action="/profile/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="orig_password">Original Password</label>
                    <input type="password" class="form-control" name="orig_password" id="orig_password"
                           placeholder="Enter you original password">
                </div>
                <div class="form-group">
                    <label for="new_pass1">Enter New Password</label>
                    <input type="password" class="form-control" name="new_pass1" id="new_pass1"
                           placeholder="Enter your new password" required>
                </div>
                <div class="form-group">
                    <label for="new_pass2">Confirm Password</label>
                    <input type="password" class="form-control" name="new_pass2" id="new_pass2"
                           placeholder="Confirm your new password" required>
                </div>
                <button type="submit" class="btn btn-default">Change Password</button>
                <span class="label label-success">{{success}}</span>
                <span class="label label-danger">{{error}}</span>
            </form>
        </div>
        <div id="Preferences" class="tab-pane fade">
            <h3>Preferences</h3>

            <form>
                <div class="form-group">
                    <label for="keywords">Topics You Follow</label>
                    <input type="text" class="form-control" id="keywords"
                           placeholder="Enter the topics you would like to follow">
                </div>
                <div class="form-group">
                    <label for="user_location">Location</label>
                    <input type="text" class="form-control" id="user_location" placeholder="Enter your location">
                </div>
                <button type="submit" class="btn btn-default">Edit Preferences</button>
            </form>
        </div>
    </div>
</div>
<!--
<script type="text/javascript">
    $(document).ready(function () {
        $("#new_pass2").keyup(function () {
            var password1 = $("#new_pass1").val();
            var password2 = $("#new_pass2").val();
            if (password1 != password2) {
                $("#validate-status").html("two passwords are different");
            }
            else {
                $("#validate-status").html("valid");
            }
        });
    });
</script> -- >
{% endblock %}